header{
    background-color: white;
    padding: 0;
}
a{
    color: olive;
}
a:hover{
    background-color: #F4EBD0;
    color: olive;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-family: Playfair_Display;
    font-weight: bold;
    padding: 1em;
    
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
}
