<header>
    <div class="container">
      <a href="#" routerlink="/" class="logo">Nandy Cooking & Caterings</a>
      <nav>
        <ul>
          <li>
            <a href="" routerlink="/register-page">Register</a>
            <a href="" routerlink="/login-page">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

